.container{
  background-color: aliceblue;
  border-radius: 40px;
  margin-top: 50px;
  width: 100%;
}

.head{
  display: flex;
  justify-content: center;
}

.mainTitle{
  color: aliceblue;
  font-weight: bolder;
}

.headera{
  display: flex;
  font-size: large;
  justify-content: space-evenly;
  margin: 40px;
}

.no-student{
  display: flex;
  justify-content: center;
}

.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.form-container{
  display: flex;
  justify-content: center;
}

.student-form{
  align-items: center;
  background-color: #986efa3e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  justify-content: center;
  margin-bottom: 40px;
  padding: 4% 5%;
  width: fit-content;
}

.input-data{
  border: black;
  border-radius: 4px;
  margin: 0%;
  padding: 15px 30px;
  font-size: larger;
  width: 100%;
}

.form-button{
  width: 100%;
}

.error-message{
  color: red;
  font-weight: bold;
  text-align: center;
}
