<div *ngIf="course" class="container">
  <header class="headera">
    <span>Nrc: </span><b>{{ course.nrc }}</b><br>
    <span>Grade: </span><b>{{ course.grado }}</b><br>
    <span>Course: </span><b>{{ course.curso }}</b><br>
  </header> <br>

  <div class="container text-center">
    <div class="row">
      <div class="col-2 col-xs-2 col-sm-2 col-md-2"><b>Nombre</b></div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2"><b>Apellido</b></div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2"><b>Cres</b></div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2"><b>Sumar</b></div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2"><b>Restar</b></div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2"><b>Eliminar</b></div>
    </div>
    <div class="row" *ngFor="let student of course.estudiantes; let i = index">
      <div class="col-2 col-xs-2 col-sm-2 col-md-2">{{ student.nombre }}</div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2">{{ student.apellido }}</div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2">{{ student.cres }}</div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2">
        <img src="../../../assets/icons/plus.png" class="icon"
            alt="Aumentar Cre" (click)="addCre(i)">
      </div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2">
        <img src="../../../assets/icons/minus.png" class="icon"
            alt="Disminuir Cre" (click)="diminishCre(i)">
      </div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2">
        <img src="../../../assets/icons/trash-can.png" class="icon"
            alt="Ícono Basura" (click)="deleteStudent(i)" />
      </div>
    </div>
  </div>

  <br><br>
  <footer>
    <button (click)="showForm()" class="btn btn-primary">Añadir Estudiante</button>
    <button class="btn btn-primary">Guardar Cres</button>
    <button routerLink="/cursos" class="btn btn-primary">Atrás</button>
  </footer>

  <div class="form" *ngIf="showStudentFormView">
    <form [formGroup]="studentForm" (ngSubmit)="addStudent()">
      <label for="">Nombre</label><br>
      <div class="input">
        <input type="text" formControlName="nombre" /><br>
        <div *ngIf="studentForm.controls['nombre'].hasError('required') && studentForm.controls['nombre'].touched">
          Requerido</div>
      </div>

      <label for="">Apellido</label><br>
      <div class="input">
        <input type="text" formControlName="apellido"><br>
        <div
          *ngIf="studentForm.controls['apellido'].hasError('required') && studentForm.controls['apellido'].touched">
          Requerido</div>
      </div>

      <label for="">Cres</label><br>
      <div class="input">
        <input type="number" formControlName="cres"><br>
        <div *ngIf="studentForm.controls['cres'].hasError('required') && studentForm.controls['cres'].touched">
          Requerido</div>
        <div *ngIf="studentForm.controls['cres'].hasError('min')">
          Mínimo 0 puntos</div>
      </div>

      <button type="submit" class="btn btn-primary">Crear Estudiante</button>
      <button type="button" (click)="showForm()" class="btn btn-primary">Cancelar</button>
    </form>
  </div>
</div>
