<div class="container">
  <div class="menu" *ngIf="currentPage == PAGES.MENU">
    <button type="button" class="btn btn-primary" (click)="goCreateCourse()">Crear Curso</button>
    <button type="button" class="btn btn-primary" (click)="goToCourses()">Cursos</button>
  </div>
  <div class="createCourse" *ngIf="currentPage === PAGES.CREATE_COURSE">
    <app-course-creation></app-course-creation>
  </div>
  <div class="courses" *ngIf="currentPage === PAGES.COURSES">
    <app-courses></app-courses>
  </div>
</div>