<div class="head">
  <h1 class="mainTitle">Cres</h1>
</div>
<section *ngFor="let course of courses; let i = index" class="row headera">
  <b class="col-3">NRC: {{ course.nrc }}</b>
  <b class="col-3">Grado: {{ course.grado }}</b>
  <b class="col-3">Curso: {{ course.curso }}</b>
  <button class="col-3 btn-info btn" (click)="selectCourse(course)">Entrar</button>
</section>
<section>
  <button (click)="showForm()" class="btn btn-primary">Crear curso</button>
  <div *ngIf="formTemplate">
    <form [formGroup]="createCourseForm">
      <label for="">NRC</label><br>
      <div>
        <input type="number" formControlName="nrc" /><br>
        <div *ngIf="createCourseForm.controls['nrc'].hasError('required') && createCourseForm.controls['nrc'].touched">Requerido</div>
      </div>

      <label for="">Grado</label><br>
      <div>
        <input type="number" formControlName="grado"><br>
        <div *ngIf="createCourseForm.controls['grado'].hasError('required') && createCourseForm.controls['grado'].touched">Requerido</div>
        <div *ngIf="createCourseForm.controls['grado'].hasError('max') && createCourseForm.controls['grado'].touched">Máximo 11</div>
        <div *ngIf="createCourseForm.controls['grado'].hasError('min') && createCourseForm.controls['grado'].touched">Mínimo 1</div>
      </div>

      <label for="">Curso</label><br>
      <div>
        <input type="text" formControlName="curso"><br>
        <div *ngIf="createCourseForm.controls['curso'].hasError('required') && createCourseForm.controls['curso'].touched">Requerido</div>
      </div>

      <button type="button" class="btn btn-primary" (click)="createCourse(createCourseForm.value)">Crear</button>
      <button (click)="showForm()" class="btn btn-danger">Cancelar</button>
    </form>
  </div>
</section>
