<div class="container">
  <div class="head">
    <h1 class="mainTitle">Cres</h1>
  </div>
  <section *ngFor="let course of courses; let i = index" class="row headera">
    <b class="col-md-3">NRC: {{ course.nrc }}</b>
    <b class="col-md-3">Grado: {{ course.grado }}</b>
    <b class="col-md-3">Curso: {{ course.curso }}</b>
    <button class="col-md-3 btn btn-success" (click)="selectCourse(course)">Entrar</button>
  </section>
  <section class="no-courses" *ngIf="courses.length == 0">No hay cursos creados</section>
  <div class="buttons">
    <button (click)="showForm()" class="btn btn-info">Crear curso</button>
  </div>
  <section>
    <div *ngIf="formTemplate" class="form-container">
      <form [formGroup]="createCourseForm" class="course-form">
        <label for="">NRC</label>
        <div>
          <input type="number" formControlName="nrc" class="input-data" />
          <div class="error-message" *ngIf="createCourseForm.controls['nrc'].hasError('required') && createCourseForm.controls['nrc'].touched">Requerido</div>
        </div>

        <label for="">Grado</label>
        <div>
          <input type="number" formControlName="grado" class="input-data">
          <div class="error-message" *ngIf="createCourseForm.controls['grado'].hasError('required') && createCourseForm.controls['grado'].touched">
            Requerido
          </div>
          <div class="error-message" *ngIf="createCourseForm.controls['grado'].hasError('max') && createCourseForm.controls['grado'].touched">
            Máximo 11
          </div>
          <div class="error-message" *ngIf="createCourseForm.controls['grado'].hasError('min') && createCourseForm.controls['grado'].touched">
            Mínimo 1
          </div>
        </div>

        <label for="">Curso</label>
        <div>
          <input type="text" formControlName="curso" class="input-data">
          <div class="error-message" *ngIf="createCourseForm.controls['curso'].hasError('required') && createCourseForm.controls['curso'].touched">
            Requerido
          </div>
          <div class="error-message" *ngIf="createCourseForm.controls['curso'].hasError('maxlength') && createCourseForm.controls['curso'].touched">
            Máximo 20 caracteres
          </div>
          <div class="error-message" *ngIf="createCourseForm.controls['curso'].hasError('minlength') && createCourseForm.controls['curso'].touched">
            Mínimo 2 caracteres
          </div>
        </div>

        <button type="button" class="btn btn-info form-button" (click)="createCourse(createCourseForm.value)">Crear</button>
        <button (click)="showForm()" class="btn btn-danger form-button">Cancelar</button>
      </form>
    </div>
  </section>
</div>
